.profile-edit-page-container {
  width: 500px;
  background-color: #fff;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: 0px 18px 15px -3px rgba(0, 0, 0, 0.1);
}
