.profile-container {
  background-color: #e0fbfc;
  position: relative;
}

.profileupdatealert {
  position: absolute;
  right: 20px;
  top: 20px;
}

.user-profile-inner-container {
  position: relative;
}
.user-profile-banner {
  max-height: 200px !important;
  width: 100vw;
}
.usercard-conatainer {
  max-width: 300px !important;
  position: absolute;
  content: "";
  top: 80px;
  left: 25px;
}
.card-body-title {
  font-size: 20px;
  color: #333;
}

.additional-details-conatiner {
  margin-left: 350px;
}

.additional-details {
  box-shadow: 0px 10px 30px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
