.profile-container {
  background-color: #e0fbfc;
}

.user-profile-inner-container {
  position: relative;
}

.profileupdatealert {
  content: "";
  position: absolute !important;
  right: 20px;
  top: 20px;
  width: 200px;
  z-index: 1;
  background-color: rgb(9, 155, 9) !important;
}

.usercard-conatainer {
  max-width: 300px !important;
  content: "";
  position: absolute !important;
  top: 80px;
  left: 25px;
}
.user-profile-banner {
  max-height: 200px !important;
  width: 100vw;
}
.card-body-title {
  font-size: 20px;
  color: #333;
}

.additional-details-conatiner {
  margin-left: 350px;
}

.additional-details {
  box-shadow: 0px 10px 30px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  word-wrap: break-word;
}
.pet-deatils-profile-container {
  overflow: hidden;
}

.petimage {
  transition: transform 0.3s;
}

.petimage:hover {
  transform: scale(1.04);
}

@media (max-width: 991px) {
  .user-profile-banner {
    display: none;
  }
  .additional-details-conatiner {
    margin-left: 0;
  }
  .usercard-conatainer {
    width: 100%;
    content: "";
    position: relative !important;
    top: 0;
    left: 0;
  }
  .display-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
}
