*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.doctor-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 18px ;
    border-radius: 100px;
    cursor: pointer;
    
    /* background-color: red; */
    

}
.doctor-container:hover{
    transform: scale(1.01);
    transition: 1.2s;
}
/* 2container*/
.doctor-details-container{
    
    padding: 18px 18px 0px;
    background-color: rgb(224, 230, 230);  
    border-radius: 15px 0px 0px 15px;  
}

.personaldetails-container{
    margin-top: 24px;
    
}
.personaldetails-container p{
    color: #2c003f;
}

.inside-personal{
    margin:6px 0;
}
.doctor-name{
    color: #2c003f;
    font-size: 32px;
    font-weight: bold;
}

.doctor-speciailzation{
    color: #2c003f;
}

.doctor-features{
    font-size: 20px;
    color: #2c003f;
}
.doc-address p{
    color: rgb(224, 230, 230);
    padding: 8px;
}
.doc-address{
    font-family: inherit;
    font-weight: normal;
    font-style: normal;
    background-color: #2c003f;
    padding: 12px;
    /* border-radius: 50px; */
}
/*  2container*/
.doctor-image-container{
     width: 400px;
     height: auto;
     overflow: hidden;
     border-radius: 0px 15px 15px 0px;
    }
    .doctor-image{
        width: 400px;
        height: 450px;
        overflow: hidden;
        border-radius: 0px 15px 15px 0px;
}
