.doctor-header{
    display: flex;
    /* background-color: #BFD7EA;; */
    border-radius: 10px;
}
.search{
    /* background-color: #BFD7EA;; */
    margin: 10px;
    padding: 12px;
    font-size: 15px;
} 
.search select{
    border: none;
    background-color:  #0B3954;
    border-radius: 100px ;
    padding: 10px;
    font-size: 17px;
    color: #BFD7EA;
}
.search select option{

    border: none;
    background-color:#0B3954;
    border-radius: 100px;
    padding: 100px;
    font-size: 17px;
    text-align: left;
     color: #BFD7EA;;
}
.search input{
    border: none;
    background-color: #0B3954 ;
    border-radius: 100px 100px 100px 100px;
    padding: 10px;
    font-size: 17px;
     color: #BFD7EA;
}
.search ::placeholder{
    color: #BFD7EA;
    text-align: center;
}
.search button{
    border: none;
    background-color:  #0B3954;
    border-radius: 100px;
    padding: 9px;
    font-size: 15px;
    color: #BFD7EA;;
    width: 120px;
}
.search button:hover{
    border: none;
    background-color:  #BFD7EA;;
    border-radius: 10px;
    padding: 9px;
    font-size: 15px;
    color: #0B3954;
}
@media screen and (max-width: 1000px) {
    .doctor-header{
      display: grid .5s linear;
    }
    .search{

        margin: 1px;
        padding: 9px;
        font-size: 11px;
    }
  }
