* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-image {
  max-width: 100%;
  height: 95%;
  margin-top: 20px;
}

.quotes {
  margin-bottom: 0;
  color: #333;
  padding-top: 24px;
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
}

.care {
  margin-bottom: 0;
  color: #333;
  font-size: 18px;
  padding-top: 28px;
}

.imagequotes {
  margin-bottom: 0;
  color: #444;
  font-size: 24px;
  padding-top: 48px;
  padding-bottom: 24px;
  font-weight: bold;
}

.nextbtn {
  opacity: 0.3;
  color: red;
  fill: black;
}

.pets {
  display: flex;
  padding-bottom: 24px;
}

.pets img {
  width: 54px;
  height: 54px;
  border-radius: 50px;
  margin-right: 18px;
}
.pets img:last-child {
  margin-right: 0;
}
.nextbtn:hover {
  opacity: 0.8;
}

.kind-service {
  color: #333;
  padding: 24px 0;
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
}
.main-first {
  display: grid !important;
  grid-template-columns: 60px auto;
}
.icon-first {
  margin-top: 15px;
  font-size: 25px;
}
.head-first {
  margin-top: 15px;
  margin-left: 2px;
  font-size: 25px;
  font-weight: bold;
}
.head-firsts {
  margin-top: 15px;
  margin-left: 2px;
  font-size: 25px;
  font-weight: bold;
}
.trending-pro {
  font-size: 25px;
  font-weight: bold;
}
.para-first {
  margin-top: 3px;
  width: 270px;
}
.container-first {
  height: 200px;
  position: relative;
  width: 99vw;
}
.all-pro {
  text-align: end;
  text-decoration: none;
  color: black;
}
.new-products {
  background-color: #8d99ae;
  min-height: 48px;
  border-radius: 10px;
}
.pro-con {
  border: solid 2px rgb(229, 214, 214);
  border-radius: 12px;
  text-align: center;
  margin: auto 0;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  position: relative;
  /* height: 300px; */
  padding: 10px;
  min-height: 320px;
}
.pro-con:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.convert-imgs {
  width: calc(1.75 * var(--width));
  height: calc(4.5 * var(--height));
  /* border-radius: 12px; */
  object-fit: cover;
}

@media (max-width: 991px) {
  .quotes {
    padding: 0;
    padding-top: 40px;
    font-size: 48px;
    text-align: center;
  }

  .care {
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 20px;
  }

  .imagequotes {
    padding: 0;
    margin: 0;
    padding-top: 24px;
    text-align: center;
  }

  .pets {
    padding-top: 20px;
    justify-content: center;
  }

  .pets img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 500px) {
  .tot-container {
    display: none;
  }
}
