*{
  margin: 0px;
  padding: 0px;
}
*:focus{
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* This is to center all the data in them */
.center-contents{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Below is for the containers in the page */
.forget-password-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../../Assets/signup.jpg');
  background-size: cover;
  background-position: center;
}

/* thiis is the main container for the mail and the other things */
.forgot-password-main-container{
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot-password-main-container label{
  font-weight: 600px;
  font-family: sans-serif;
}
.forgot-password-spacing{
  margin-bottom: 20px;
}

/* Mail id container  and the otp container*/
.forgot-password-mail-container div{
  width: 230px;
  display: flex;
  justify-content: center;
}
.forgot-password-mail-container input, .forgot-password-otp-container input{
  width: 230px;
  height: 30px;
  border-radius: 10px;
  padding: 0px 0px 0px 10px;
  margin: 5px 5px 5px 0px;
}
.forget-password-mail-id-error-message{
  font-size: 12px;
  font-weight: 500px;
  color: red;
}
.forgot-password-mail-container button, .forgot-password-otp-container button, .forgot-password-password-container button{
  width: auto;
  height: auto;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  transition: .1s;
  margin: 5px 5px 5px 0px;
}
.forgot-password-mail-container button:hover, .forgot-password-otp-container button:hover, .forgot-password-password-container button:hover{
  cursor: pointer;
  background-color : #411a52; 
  color: white;
}

/* Password Container */
.forgot-password-password-container input{
  border: none;
}
.password-container-div-border{
  width: auto;
  height: auto;
  border: solid 1px black;
  border-radius: 10px;
  padding: 0px 0px 0px 10px;
  margin: 5px 5px 5px 0px;
}
.password-container-div-border input{
  width: 170px;
}

.password-visibility-button{
  background-color: white;
  border: none
}
.forgot-password-password-container button:hover{
  color: black;
  background-color: white;
}
.forgot-password-auto-reload{
  color: red;
}
.forgot-password-auto-reload span{
  font-size: 15px;
  font-family: sans-serif;
}

