.inner-dash{
    width: 25vw;
    height: 10vh;
    background-color:white;
    border-radius: .25rem;
    margin-top: 50px;
    margin-left: 70px;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    font-family: 'Lora', serif;
    position: relative;
    
}
.dashboard-container{
    background-color: #f8edeb;
    width: 100vw;
    min-height:100vh;
}
.dash-style{
    margin-left: 100px;
}
.dashboard-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    margin-right: 100px;
}