.getPasswordMainContainer{
    min-height: 100vh;
    background-image: url('../../Assets/signup.jpg');
    background-position: center;
    background-size: cover;
}
/* For the password container */
.getPassPasswordInputContainer{
    border: none;
    padding: 0px 0px 0px 2px;
    height: 26px;
    width: 225px;
}
.getPassPasswordButtonContainer{
    background: none;
    border: none;
}

/* This is for the div that is in the center */
.getPassFieldsContainer{
    padding: 20px 30px 20px 30px;
    background-color: white;
    border-radius: 15px;
}

/* this is to give margin to all container */
.getPassGiveMargin{
    margin : 5px 0px 0px 5px
}

/* This is to center the contents in the page */
.centerContents{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* For the label Give us some more information */
.getPassHeadingTag{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
/* This is for the password container */
.getPassPasswordContainer{
    border: solid 1px grey;
    border-radius: 5px;
    height: 28px;
    margin-bottom: 10px;
}
/* This is for the phone number container */
.getPassPhoneNumberContainer{
    border: solid 1px grey;
    border-radius: 5px;
    width: 250px;
    padding : 0px 0px 0px 5px;
    height: 28px;
}
/* For the submit button in the getPassword container */
.getPassSubmitButton{
    margin-top: 10px;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
}
.getPassSubmitButton:hover{
    background: #411a52;
    color: #fff;
}
/* This is to display the error message during password mismatch */
.getPassErrorMessage{
    color: red;
    font-size: 12px;
    margin-top: 0px;

}