.container-form {
  height: 100vh;
  width: 100vw;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ccffff;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../../Assets/signup.jpg');
  background-size:cover;
  background-position: center;
  opacity: 1;
  background-repeat: no-repeat;
}

/* .container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #00ffff;
 
  border-radius: 50%;
  z-index: 1;
} */

/* .container::after{
    content: "";
    position: absolute;
    height: 75%;
    width: 25%;
    background-color:red;
    border-radius: 50%;
    z-index: -1;
} */

.signup-form {
  background-color: #fff;
  border-radius: 11px;
  padding: 32px 32px;
}

#welcome-text-container {
  color: #444;
  font-size: 18px;
  margin: 10px 0 18px 0;
}
.sign-label {
  color: #555;
}

.required {
  color: red;
}

.sigin-input {
  text-align: start;
  height: 25px;
  width: 100%;
  font-size: 14px;
  color: #777;
  border: none;
  border: 1px solid #999;
  border-radius: 7px;
  padding-left: 5px;
  margin: 5px 0 15px;
}
.signin:focus {
  background-color: none;
  width: 260px;
  height: 35px;
  transition: ease-in-out, width 0.35s ease-out;
}
.center-contents {
  display: flex;
  justify-content: center;
}
.center-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.signupbutton {
  height: 30px;
  width: 100px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}
.signupbutton:hover {
  background: #411a52;
  color: #fff;
}
.signupbutton .signspan {
  font-size: 10px;
  color: red;
}

#reset-button:hover {
  background-color: rgb(244, 60, 60);
}
focus {
  justify-content: center;
}
#password-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Already-signup {
  margin: 32px 0;
}
.Already-signup-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.Already-signup-para {
  color: #777;
}
.Already-signup-button {
  height: 30px;
  width: 100px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}

.Already-signup-button:hover {
  background: #411a52;
  color: #fff;
}
