.redirect_main_cont {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../Assets/signup.jpg");
  background-position: center;
  background-size: cover;
}
.redirect_cont {
  background-color: white;
  border-radius: 30px;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
