.loginButtonContainer {
  display: flex;
  justify-content: space-around;
}

.loginMainContainter {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../Assets/signup.jpg");
  background-position: center;
  background-size: cover;
}
.loginFormContainer {
  width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 30px;
}
