.dropdown-menus {
  background: #0b3954;
  width: 150px;
  position: absolute;
  z-index: 100;
  top: 70px;
  list-style: none;
  text-align: start;
  border-radius: 100px;
}

.dropdown-menus li {
  background: #0b3954;
  cursor: pointer;
}

.dropdown-menus li:hover {
  background: #0b3954;
}

/* .dropdown-menus.clicked {
} */

.dropdown-links {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
