.dropdown-menu {
  background: red;
  width: 150px;
  position: absolute;
  top: 70px;
  list-style: none;
  text-align: start;
  border-radius: 100px;
}

.dropdown-menu li {
  background: #411a52;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #674875;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}