.dropdownTotalContents{
  margin-top: 160px;
  padding: 5px;
  border-radius: 10px;
  background-color: #012a4a;
  position: absolute;
  z-index: 10;
  /* left: 43%; */
}
.dropdown-menubar{
  list-style: none;
}
.dropdown-litags{
  width: 120px;
}
.dropdown-litags:hover{
  background-color: #BFD7EA;
  border-radius: 10px;
  color: #0b3954;
}
.dropdown-link{
  color: white;
  padding: 8px;
  text-decoration: none;
}
